body {
  margin: 0;
  background-color: #0d3b66;
  color: #ffffff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  position: relative;
  padding: 40px;
}

#app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/bg-triangles.png");
  background-size: 400px auto;
  background-repeat: no-repeat;
  z-index: -1;
}

#app::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
  background-image: url("./assets/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

#app ul li::marker {
  color: #00d4ff;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  margin: 20px 0 40px 0;
  color: #c9d9e8;
}

h2:nth-of-type(1),
h2:nth-of-type(2) {
  color: #00d4ff;
  font-size: 24px;
  margin-bottom: 10px;
}

div:nth-of-type(1) {
  max-width: 100%;
  margin-bottom: 20px;
}

ul:nth-of-type(1) {
  margin-bottom: 30px;
  line-height: 1.6;
  max-width: 100%;
}

h2:nth-of-type(3),
h2:nth-of-type(4),
h2:nth-of-type(5),
div:nth-of-type(2),
div:nth-of-type(3),
div:nth-of-type(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

h2:nth-of-type(3) {
  background-color: #7fa9d1;
  color: #0d3b66;
  font-size: 20px;
  padding: 20px 0 5px;
  max-height: 55px;
  border-radius: 10px 10px 0 0;
}
div:nth-of-type(2) {
  background-color: #7fa9d1;
  color: #ffffff;
  padding-bottom: 20px;
}

h2:nth-of-type(4) {
  background-color: #a3d133;
  color: #0d3b66;
  font-size: 20px;
  padding: 20px 0 5px;
  max-height: 55px;
  min-width: 190px;
}
div:nth-of-type(3) {
  background-color: #a3d133;
  font-size: 64px;
  padding-bottom: 30px;
  max-height: 195px;
}

h2:nth-of-type(5) {
  background-color: #d12a8e;
  color: #0d3b66;
  font-size: 20px;
  padding: 20px 0 5px;
  max-height: 55px;
  min-width: 190px;
}
div:nth-of-type(4) {
  background-color: #d12a8e;
  font-size: 64px;
  padding-bottom: 30px;
  border-radius: 0 0 10px 0;
  max-height: 195px;
}

@media (min-width: 768px) {
  #app {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto;
  }

  #app::after {
    top: 25px;
    right: 40px;
    width: 180px;
    height: 80px;
  }

  h1 {
    grid-column: 1 / 4;
    font-size: 56px;
    margin-top: 0;
  }

  h2:nth-of-type(1),
  h2:nth-of-type(2) {
    grid-column: 1 / 3;
  }

  div:nth-of-type(1) {
    grid-column: 1 / 3;
    font-size: large;
    max-width: 90%;
  }

  ul:nth-of-type(1) {
    grid-column: 1 / 3;
    max-width: 80%;
  }

  h2:nth-of-type(3),
  div:nth-of-type(2),
  h2:nth-of-type(4),
  div:nth-of-type(3),
  h2:nth-of-type(5),
  div:nth-of-type(4) {
    width: auto;
  }

  h2:nth-of-type(3) {
    grid-column: 3 / 5;
    grid-row: 2;
    font-size: x-large;
    align-items: flex-end;
  }
  div:nth-of-type(2) {
    padding-top: 20px;
    grid-column: 3 / 5;
    grid-row: 3;
    align-items: flex-start;
    font-size: x-large;
  }

  h2:nth-of-type(4) {
    grid-column: 3 / 4;
    grid-row: 4;
    font-size: x-large;
    align-items: flex-end;
  }
  div:nth-of-type(3) {
    grid-column: 3 / 4;
    grid-row: 5;
  }

  h2:nth-of-type(5) {
    grid-column: 4 / 5;
    grid-row: 4;
    font-size: x-large;
    align-items: flex-end;
  }
  div:nth-of-type(4) {
    grid-column: 4 / 5;
    grid-row: 5;
    border-radius: 0 0 10px 0;
  }
}
